@use '../base/colors';
@use '../base/types';
@use '../base/mixins';


.required {
  color: colors.$error;
}

.booking {
  &__list {
    list-style-type: none;
  }

  &__link {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    color: colors.$primary;
    text-decoration: none;
    font-size: types.$normal;

    &:hover,
    &:focus {
      color: colors.$complementary;
    }
    @include mixins.special(900px) {
      font-size: types.$xLarge;
    }
    @include mixins.large {
      font-size: types.$xxLarge;
    }
  }
  &__icon {
    background-color: colors.$primary;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    padding: 0.5em;
    margin-right: 1em;

    &--email {
      display: none;

      @media screen and (min-width: 330px) {
        display: inline-block;
      }
    }
  }
}

.form {
  width: 100%;
  max-width: 400px;

  @include mixins.special(470px) {
    margin-left: 10vw;
    padding-left: 1rem;
  }

  @include mixins.special(900px) {
    max-width: 600px;
  }

  &__button {
    display: flex;
    justify-content: center;
  }
  &__field {
    margin-bottom: types.$spacer/2;
  }

  &__label {
    font-size: types.$small;
    color: colors.$primary;
  }

  &__input {
    width: 100%;
    outline: 0;
    border: 1px solid colors.$primary;
    border-radius: 3px;
    padding: 0.5rem 1rem;

    &:focus,
    &:active {
      border: 2px solid colors.$complementary;
      border-left: 5px solid colors.$complementary;
      outline: 0;
    }
  }
  &__legend {
    font-size: types.$small;
    color: colors.$primary;
  }

  &__select {
    width: 100%;
    border: 1px solid colors.$primary;
    border-radius: 3px;
    padding: 0.5rem 1rem;

    &:focus,
    &:active {
      border: 2px solid colors.$complementary;
      border-left: 5px solid colors.$complementary;
      outline: 0;
    }
  }

  &__textarea {
    width: 100%;
    border: 1px solid colors.$primary;
    border-radius: 3px;
    padding: 0.5rem 1rem;

    &:focus,
    &:active {
      border: 2px solid colors.$complementary;
      border-left: 5px solid colors.$complementary;
      outline: 0;
    }
  }
}

.fieldset {
  display: grid;
  grid-template-columns: 2fr 8fr;
  gap: types.$spacer/2;
  border: 2px solid colors.$primary;
  border-radius: 3px;
  margin-bottom: types.$spacer/2;

  @include mixins.special(400px) {
    grid-template-columns: 1fr 6fr 2fr;
  }
}

.date__input {
  border: 1px solid colors.$primary;
  border-radius: 3px;
  padding: 0.5rem 1rem;

  &:focus,
  &:active {
    border: 2px solid colors.$complementary;
    border-left: 5px solid colors.$complementary;
    outline: 0;
  }
}

.date__label {
  grid-column: 1/2;
}

.date__checkbox--label {
  grid-column: 2/-1;
}

.date__checkbox--input {
  grid-column: 1/2;

  &:focus,
  &:active {
    outline: 2px solid colors.$complementary;
  }
}

.date__checkbox--hidden {
  display: none;
}

.date__checkbox--display {
  display: block;
  grid-column: 1/-1;
}

.date__input--hidden {
  width: 100%;
}

.form__label--checkbox {
  width: 100%;
}

.room__info {
  &--display {
    display: block;
  }

  &--hidden {
    display: none;
  }
}

.email__valid,
.input__valid {
  border: 2px solid colors.$success;
  border-left: 5px solid colors.$success;
}

.email__invalid,
.input__invalid {
  border: 2px solid colors.$error;
  border-left: 5px solid colors.$error;
}

.error-message {
  color: colors.$error;
  text-align: center;
  font-weight: 600;
}

.form-message {
  font-size: types.$large;
  color: colors.$formMessage;
}
