$spacer: 24px;
$spacerL: 48px;
$spacerXL: 64px;
$spacerXXL: 96px;

$font-default: 'Montserrat', 'Roboto', sans-serif;
//$font-default: "Raleway", Helvetica, Arial, sans-serif;
$font-special: 'Lora', serif;;



$small: 14px;
$normal: 16px;
$large: 24px;
$xLarge: 32px;
$xxLarge: 48px;

$titleTablet: 64px;
$titleWeb: 96px;
